body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.panel-default > .panel-heading {
  background: none repeat scroll 0% 0% #1B5795;
  color: #fff;
}

.navbar .brand {
  max-height: 40px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar a.navbar-brand {padding: 9px 15px 8px; }
.navbar-brand > img {
  display: inline;
}
